/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
  --primary-color: #6fcae4;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: #222;
  font-family: "Oswald", sans-serif;
}

body {
  overflow-x: hidden;
}

/* HEADER AND NAV  */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  height: 30px;
}

.logo-box {
  position: absolute;
  top: 20px;
  left: 20px;
}
.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 50%;
  list-style: none;
  margin-top: 5vh;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  color: var(--primary-color);
}

.pipe {
  color: var(--primary-color);
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 5px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav {
    position: relative;
  }

  .burger {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 110vh;
    top: -40px;
    padding: 10rem 0;
    background: #6fcbe4ea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }

  .nav-links a {
    font-size: 20px;
    text-transform: uppercase;
    color: #222;
  }

  .pipe {
    display: none;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: 0px;
    transform: 0px;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: 0px;
    transform: 0px;
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-405deg) translate(-5px, 6px);
  -ms-transform: rotate(-405deg) translate(-5px, 6px);
  transform: rotate(-405deg) translate(-5px, 6px);
  background-color: #222;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(405deg) translate(-5px, -6px);
  -ms-transform: rotate(405deg) translate(-5px, -6px);
  transform: rotate(405deg) translate(-5px, -6px);
  background-color: #222;
}
/* Banner Section  */

.banner-container {
  margin-top: 13rem;
  height: 70vh;
  text-align: center;
}

.banner-line_1 {
  font-size: 2rem;
  color: #fff;
}

.banner-line_2 {
  font-size: 1.8rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

/* About Section  */
.about-container {
  background-color: #fff;
  padding: 2rem 1rem;
  /* box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.267); */
}

.about-container h1 {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-bottom: var(--primary-color) solid;
}

.about-container h2 {
  text-align: center;
  font-size: 1rem;
  margin: 2rem 0;
}

.about-content {
  max-width: 50rem;
  margin: auto;
  font-size: 1.2rem;
}

.vertical-line {
  color: var(--primary-color);
}

/* Experience section  */

.experience-container {
  background-color: #222;
  padding: 2rem 1rem;
}

.experience-container h1 {
  margin: auto;
  color: var(--primary-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  border-bottom: #fff solid;
}

.experience-container p {
  color: #fff;
  margin-top: 2rem;
}

.experience-content {
  margin: auto;
  max-width: 50rem;
}

.course-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  color: #fff;
  font-size: 1.2rem;
  max-width: 30rem;
  margin: 2rem auto;
}

.course-list-container ul li {
  list-style: none;
}

/* Contact section  */
.contact-container {
  background-color: #fff;
}

.contact-form {
  background: #222;
  max-width: 30rem;
  margin: auto;
  padding: 1rem;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-content h1 {
  margin: auto;
  color: #fff;
  border-bottom: var(--primary-color) solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.contact-form label {
  color: var(--primary-color);
  font-size: 1.4rem;
}

.contact-form input {
  border: none;
  border-bottom: #6fcae4 1px solid;
  background-color: inherit;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.contact-form textarea {
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
}

.contact-form textarea:focus {
  outline: none;
}

.contact-form input:focus {
  outline: none;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.btn {
  border: #6fcae4 solid 2px;
  outline: none;
  border-radius: 5px;
  background-color: #222;
  padding: 1rem;
  color: var(--primary-color);
  width: 45%;
  text-transform: uppercase;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.btn:active {
  background-color: var(--primary-color);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  color: #222;
}

.links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  max-width: 30rem;
  margin: auto;
  padding: 3rem 0;
}
.fa-brands {
  font-size: 2rem;
  color: var(--primary-color);
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.fa-brands:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.footnote {
  color: var(--primary-color);
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
/* Media Queries  */

@media (min-width: 470px) {
  .logo {
    height: 50px;
  }

  .banner-container {
    margin-top: 40vh;
  }

  .contact-container {
    padding: 2rem;
  }

  .contact-form {
    -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .fa-brands {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .logo-box {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 30%;
  }

  .logo {
    height: 70px;
  }

  .banner-container {
    margin-top: 50vh;
  }
}

@media (min-width: 1024px) {
  .nav-links a {
    font-size: 18px;
  }

  .banner-line_1 {
    font-size: 3rem;
  }
  .banner-line_2 {
    font-size: 2.5rem;
    letter-spacing: 7px;
  }

  .logo {
    height: 100px;
  }

  .about-content {
    font-size: 1.5rem;
  }

  .experience-content {
    font-size: 1.5rem;
  }
}
